@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --blanco: #FDFDFD;
    --negro: #1A1A1A;
    --verde: #318B93;
    --naranja: #E5553A;
    --amarillo: #EF9E33;
    --gris-1: #f7f7ff; 
    --gris-2: #828282;
    --blanco1:#ffffff;

}

body {
    background-color: var(--blanco)!important;
    font-family: 'Montserrat', sans-serif !important;
    color: var(--negro)!important;
    padding-top: 60px;
}
a {
    text-decoration: none!important;
}
ol,
ul {
  padding-left: 0rem !important;
}

/*Botones*/
.btn-primario {
    background-color: var(--amarillo)!important;
    padding: 10px 50px!important;
    color: var(--blanco)!important;
    font-weight: 700!important;
    border-radius: 44px!important;
}

.btn-secundario {
    background-color: var(--blanco)!important;
    padding: 10px 50px!important;
    color: var(--naranja)!important;
    font-weight: 700!important;
    border: 2px solid var(--naranja)!important;
    border-radius: 44px!important;
}

/*Textos*/
.h4 {
    font-weight: 700!important;
}
.form-label{
font-weight: 700!important;
    color: var(--naranja);
}

